:root{
    --primary-color: #199B9F;
    --secondary-color: #F57B00;
    --thirsty-color: #15A08D;
    --text-color: white;
    --danger: #FA5689;
    --blue: #1062AD;
}

*, *:before, *:after{
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.danger{
    background-color: var(--danger);
}

.default{
    background-color: var(--blue);
}

.app--wrapper{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
}

.app--wrapper > *{
    height: 100%;
}

.app--content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background: #ECEAED;
    padding: 5px 25px 25px;
    display: flex;
    flex-direction: column;
}


.app--content > .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app--content .title span{
    font-weight: bold;
}

.app--content .app--body{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background: var(--text-color);
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

button {
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

button:hover:not([disabled]){
    cursor: pointer;
    opacity: .8;
}

button[disabled]{
    cursor: not-allowed;
    opacity: .7;
}

.login--field, .field{
    width: 100%;
    position: relative;
}

.login--field input,
.field input
{
    position: relative;
    line-height: 1.5;
    width: 100%;
    font-size: 16px;
    padding: 8px 10px;
}

table{
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0.75rem auto;
    padding: 0;
    width: 100%;
    border-radius: 0.29rem 0.29rem 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

table thead{
    background-color: var(--primary-color);
    color: var(--text-color);
}

table thead tr {
    text-align: left;
    font-weight: bold;
}

table tr {
    border-bottom: 1px solid #dddddd;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    color: var(--secondary-color);
    background-color: rgba(245, 123, 0, .05);
}

table tr * {
    text-align: center;
}

@media screen and (max-width: 700px){
    .app--wrapper { flex-direction: column }
}

@media screen and (max-width: 460px){
    html, body{
        font-size: 14px;
    }
    .app--content { padding: 10px 5px 0}
}
