{% load static %}
<link rel="stylesheet" href="{% static 'fonts/material-design-icons/material-icons.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/top_left.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">