{% extends 'layouts/sketch_settings.html' %}

{% block main_setting %}
    {% include 'shared/_tabs.html' with selection="fournisseurs" %}
    <div class="tabs-content">
        <div>
            <div class="title">Fournisseurs</div>
            <div><button>Ajouter</button></div>
        </div>
        <div class="content">
            {% for fournisseur in fournisseurs %}
                <p>Nom: {{ fournisseur.nom }}</p>
                <p>Adresse: {{ fournisseur.adresse }}</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}