{% extends 'layouts/sketch_settings.html' %}

{% block main_setting %}
    {% include 'shared/_tabs.html' with selection="reservoirs" %}
    <div class="tabs-content">
        <div class="title">Reservoirs</div>
    </div>
{% endblock %}