<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'shared/_css.html' %}
    <title>FuelTracker | {% block title %}Accueil{% endblock %}</title>
</head>
<body class="app--wrapper">
    <header class="sidenav--wrapper">{% block header %}{% endblock %}</header>
    <main class="app--content">
        <div class="header">
            <h2 class="title">
                <span>FuelTracker | </span>
                {% block subtitle %}Accueil{% endblock %}
            </h2>
            <p>{{ request.user.first_name|title }} {{ request.user.last_name|upper }}</p>
        </div>
        <div class="app--body">
            {% block main %}{% endblock %}
        </div>

    </main>
{#    <footer>{% block footer %}{% endblock %}</footer>#}
    {% include 'shared/_js.html' %}
</body>
</html>