{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Connexion{% endblock %}
{% block main %}
    <div class="login_wrapper">
        <div class="login_brand">
            <div class="login_brand--left">
                <a href="https://topinvestici.net/"><img src="{% static 'img/logo/logo-small.png' %}" alt="InvestICI"/></a>
                <div class="login_brand--text">
                    <h2>FuelTracker</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore ducimus eius
                        exercitationem facere nemo reiciendis sint sit suscipit velit.</p>
                </div>
            </div>
            <form class="login_brand--right" method="POST">
                {% csrf_token %}
                <div class="icon--login"><i class="material-icons">person</i></div>
                {% if error %}
                    <div class="error">Nom d'utilisateur ou mot de passe incorrect.</div>
                {% endif %}
                <div class="login--field">
                    <label for="username"></label>
                    <input id="username" name="username" autocomplete="off" required placeholder="Nom d'utlisateur" />
                    <i class="material-icons">person_outline</i>
                </div>
                <div class="login--field">
                    <label for="password"></label>
                    <input id="password" name="password" type="password" required autocomplete="off" size="large" placeholder="Mot de passe"/>
                    <i class="material-icons">lock_outline</i>
                </div>
                <button type="submit">Se connecter</button>
                <a href="#">Mot de passe oublié ?</a>
            </form>
        </div>
    </div>
{% endblock %}
