{% extends 'layouts/sketch.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
    {% include 'shared/_left_bar.html' with selection="profile" %}
{% endblock %}

{% block subtitle %}Profile{% endblock %}

{% block main %}
    <form method="POST" class="profile--wrapper">
        <h1>Vos Informations</h1>
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="profile--change_password">Afficher l'espace de changement de mot de passe.</button>
        <div class="profile--passwords">
            <div class="field">
                <label for="password">Mot de passe actuel</label>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe actuel.">
            </div>
            <div class="field">
                <label for="new_password">Nouveau mot de passe</label>
                <input type="password" id="new_password" name="new_password" placeholder="Entrez votre nouveau mot de passe.">
            </div>
            <div class="field">
                <label for="confirm_password">Confirmez mot de passe</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmez votre nouveau mot de passe.">
            </div>
        </div>
        <div class="profile--buttons">
            <a href="#">Cliquez ici pour pouvoir modifier</a>
            <button type="submit" disabled>Enregistrer</button>
        </div>
    </form>
{% endblock %}